<!DOCTYPE html>
<html>
    <head>
        <title> Admin - MiF</title>
        <script src="/static/js/server/dealCards.js"></script>
        <link rel="stylesheet" href="/static/css/admin.css">
    </head>
    <body>
        <div class="admin-panel" id="panel">
            <p class="admin-panel"> Pannello Admin - MiF </p>
            <form class="admin-panel">
                <button type="submit" class="button" name="deal" value="deal">Distribuisci Carte</button>
                <button type="submit" class="button" name="dealb" value="dealb">Carte Morte</button>
            </form>
        </div>
    </body>
</html>