<!DOCTYPE html>
<html>
    <head>
        <title> Login Form - MiF </title>
        <script src="/static/js/login.js"></script>
        <script src="/static/js/card_handler.js"></script>
        <link rel="stylesheet" href="/static/css/player.css">
    </head>
    <body>
        <div id="loginform" class="show" name="loginform">
            <form name="form" id="form">
                <label for="name">Nome:</label><br>
                <input type="text" id="name" name="name"><br>
                <label for="surn">Cognome:</label><br>
                <input type="text" id="surn" name="surn"><br>
                <input type="submit" value="Accedi">
            </form>
        </div>
        <div id="game" class="hidden" name="game">
            <button id="close-CSS" class="img_btn"></button>
        </div>
    </body>
</html>